{
  // Required, specify compound indexes
  "indexes": [
    {
      "collectionGroup": "posts",
      "queryScope": "COLLECTION",
      "fields": [
        { "fieldPath": "userId", "order": "ASCENDING" },
        { "fieldPath": "publishedAt", "order": "DESCENDING" }
      ]
    }
  ],

  // Optional, disable indexes or enable single-field collection group indexes
  "fieldOverrides": [
    {
      "collectionGroup": "posts",
      "fieldPath": "text",
      // We want to disable indexing on our big map field, and so empty the indexes array
      "indexes": []
    }
  ]
}
